.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
}

.main-menu {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333;
}

.main-button {
  margin: 0 10px;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.main-image img {
  width: 100%;
  height: auto;
}

.main-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #333;
  color: white;
}

.footer-section {
  flex: 1;
  padding: 10px;
  text-align: center;
}
